.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 100%;
  border-radius: 20px;
}

.video-responsive iframe {
	position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: #000;

}
