.BackgroundImage {
  position: relative;
}

h1 {
  text-align: center;
}

.BackgroundImage > img {
  /*Centers the image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*Centers the image*/
}
