* {
	margin: 0;
}

.header{
	display: flex;
	justify-self: flex-end;
	align-items: center;
	background-color: #282c34;
	padding: 10px 0px;
}

.header__icon{
	margin-left: 20px;
	height: 40px;
	cursor: pointer;
	/*padding-right: 100vh;*/
	margin-right: auto;
}


a{
	font-weight: 500;
	font-size: 16px;
	background-color: #282c34;
	color: #edf0f1;
	text-decoration: none;
	padding: 20px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 10px;


}
a:hover{
	background-color: #edf0f1;
	color: #282c34;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;

}

.header__left{
	display: flex;
	align-items: center;
	flex: 1;
	padding: 5px;
	padding-left: 5px;
	height: 30px;
	background-color: red;
	text-align: right;
	/*border: 1px solid lightgray;*/
	/*border-radius: 9px;*/
}.header__center{
	display: flex;
	align-items: center;
	flex: 1;
	width: 10px;
	padding: 5px;
	height: 30px;
	background-color: blue;
	text-align: right;

	/*border: 1px solid lightgray;*/
	/*border-radius: 9px;*/
}
.header__right{
	text-align: right;
	display: flex;
	align-items: center;
	flex: 1;
	/*max-width: fit-content;*/
	padding: 5px;
	height: 30px;
	background-color: green;
}