.header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #282c34;
	z-index: 100;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;

}

.header__icon{
	object-fit: contain;
	height: 40px;
	margin-left: 20px;
}

.header__center{
	display: flex;
	align-items: center;
	flex: 1;
	max-width: fit-content;
	padding: 10px;
	height: 30px;
	border: 1px solid lightgray;
	border-radius: 999px;

}
.header__center > input{
	border: none;
	padding: 10px;
	outline-width: 0;
}

.header__right{
	display: flex;
	align-items: center;
	justify-self: space-between;
	width: 15vw;
	margin-right: 80px;
}